<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/favicon.ico?ico=earth-webgl">
  {{#if ENV_DEVELOPMENT}}
  <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>


  {{{body}}}


</body>
</html>
