<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/favicon.ico?ico=earth-webgl">
  <link rel="apple-touch-icon" href="/favicon.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76x76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120x120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152x152.png">
  {{#if ENV_DEVELOPMENT}}
  <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>


  {{{body}}}


</body>
</html>
