

  <h1>{{title }}</h1>
  <p>Welcome to {{title }}</p>

<script src="js/vendor/threejs/three.js"></script>
<script src="js/vendor/threejs/MTLLoader.js"></script>
<script src="js/vendor/threejs/OBJMTLLoader.js"></script>
<script src="js/vendor/dat-gui/dat.gui.js"></script>
<script src="js/main.js"></script>