body {
    background-color: #000;
    color: #fff;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow: hidden;
    padding: 0px;
    position: relative;
}

a {
  color: #00b7ff;
}
